.footer{
    margin: 20px;
    background: #000000;
    display:flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    height: 20px;
}

.right {
    flex-grow: 1;
    color: #878787;
    font-size: 12px;

}